[Unit]
Description=Personal website
After=network.target

[Service]
Type=simple
Restart=always
User=<SERVICE_USER>
Group=<SERVICE_GROUP>
Environment=MODE="PROD"
Environment=CONFIG_PATH="<PATH_TO_CONFIG_FILE>"
Environment=DB_DIR_PATH="<PATH_TO_DB_DIR_WITH_TRAILING_SLASH>"
WorkingDirectory=<PATH_TO_WORKING_DIR>
ExecStart=<PATH_TO_EXECUTABLE>

[Install]
WantedBy=multi-user.target
