{{ define "page_title" }}Contact{{ end }}
{{ define "meta_description" }}Get in touch with me{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1>
			<span>☎️</span>
			Contact
		</h1>
		<a href="mailto:{{ .Branding.ContactEmailAddr }}">{{ .Branding.ContactEmailAddr }}</a>
	</section>
</main>
{{ end }}