{{ define "page_title" }}Thank you for your message{{ end }}
{{ define "meta_robots" }}noindex, nofollow{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1><span>🥳</span>Thank you for your message!</h1>
		<p>
			I will reply as soon as possible.<br />
			You will also receive a confirmation email.
		</p>
		<nav>
			<a href="/">Back to home page</a>
			<a href="/contact">Back to contact page</a>
		</nav>
	</section>
</main>
{{ end }}