{{ define "page_title" }}Home{{ end }}
{{ define "meta_description" }}Personal website of Julien Sellier{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1>
			<span>✌️</span>
			Bonjour
		</h1>
		<nav>
			<a href="/cv">Read CV</a>
			<a href="/contact">Get in touch</a>
		</nav>
	</section>
</main>
{{ end }}