{{ define "page_title" }}Legal info{{ end }}
{{ define "meta_description" }}Mandatory legal information{{ end }}
{{ define "meta_robots" }}noindex, nofollow{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1>
			<span>ℹ️</span>
			Legal info
		</h1>

		<p style="max-width: 48ch;">
			This website is administered by Julien Sellier
			and hosted by Ikoula.
		</p>
	</section>
</main>
{{ end }}