{{ define "page_title" }}Legal info{{ end }}
{{ define "meta_description" }}Mandatory legal information{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1>
			<span>ℹ️</span>
			Legal info
		</h1>

		<ul>
			<li>Admin: Julien Sellier</li>
			<li>Hosting: Ikoula</li>
		</ul>
	</section>
</main>
{{ end }}