{{ define "page_title" }}Résumé{{ end }}
{{ define "meta_description" }}Read my résumé{{ end }}
{{ define "page_main" }}
<main class="page">
	<section class="intro">
		<h1>
			<span>📜</span>
			Résumé
		</h1>
		<p>
			{{ index .Data.TagLine .Lang }}
		</p>
		<nav>
			<a href="/contact">Get in touch</a>
			<a href="/resume.pdf" download="resume_julien_sellier.pdf">Download résumé (PDF)</a>
		</nav>
	</section>

	<section id="experiences" class="tile">
		<h2>{{ index .Data.ExperiencesTitle .Lang }}</h2>
		<hr>
		{{ range .Data.Experiences }}
		<section class="tile">
			<h3>{{ index .Title $.Lang }}</h3>
			<p class="Company"><span>🏢</span>{{ .Company }}</p>
			<p class="Duration">
				<span>🗓️</span>
				{{ .From.Format "01/2006" }} -
				{{ if .To.IsZero }}{{ index $.Data.ExperienceNow $.Lang }}
				{{ else }}{{ .To.Format "01/2006" }} ({{ .Months }} {{ index $.Data.ExperienceMonths $.Lang }})
				{{ end }}
			</p>
			<div class="Tools">
				<span>⚒️</span>
				<ul class="inlinelist">
					{{ range .SkillsAndTools }}
					<li>{{ . }}</li>
					{{ end }}
				</ul>
			</div>
			<p class="Location"><span>🌍</span>{{ .Location }}</p>
			<p class="Description"><span>ℹ️</span>{{ index .Description $.Lang }}</p>
		</section>
		{{ end }}
	</section>

	<section id="skills" class="tile">
		<h2>{{ index .Data.SkillsTitle .Lang }}</h2>
		<hr>
		{{ range .Data.Skills }}
		<section class="tile">
			<h3>{{ .Title }}</h3>
			<ul class="inlinelist">
				{{ range .Tools }}
				<li>{{ . }}</li>
				{{ end }}
			</ul>
		</section>
		{{ end }}
	</section>

	<section id="languages" class="tile">
		<h2>{{ index .Data.LanguagesTitle .Lang }}</h2>
		<hr>
		{{ range .Data.Languages }}
		<section>
			<span>{{ .Flag }}</span>
			<div>
				<h3>{{ index .Name $.Lang }}</h3>
				<p>{{ index .Level $.Lang }}</p>
			</div>
		</section>
		{{ end }}
	</section>
</main>

<style lang="scss">
	.page {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	h2 {
		text-align: center;
		padding-bottom: 2rem;
	}

	#experiences>section,
	#skills>section,
	#languages>section {
		margin-top: 2rem;
	}

	#experiences .Company,
	#experiences .Location,
	#experiences .Description,
	#experiences .Duration,
	#experiences .Tools {
		display: flex;
		align-items: baseline;
		gap: 0.75rem;
		margin-top: 1rem;
		color: var(--clr-txt-1);
	}

	/* Make emojis bigger */
	#experiences span,
	#languages>section>span {
		font-size: 1.25rem;
	}

	#skills>section>ul {
		margin-top: 1rem;
		color: var(--clr-txt-1);
	}

	#languages>section {
		display: flex;
		align-items: baseline;
		gap: 1rem;
	}
</style>
{{ end }}